page-home {
    ion-content {
        overflow: hidden
    }

    .scroll-content {
        overflow         : hidden;
        display          : flex;
        flex-direction   : column;
        justify-content  : center;
        background       : url(../../assets/imgs/bg.jpg);
        background-position: center;
        background-size  : cover;
        background-repeat: no-repeat;
    }

    .appContainer {
        width          : 100%;
        height         : 100%;
        max-width      : 600px;
        max-height     : 800px;
        overflow       : hidden;
        margin         : 0 auto;
        background     : rgb(74, 74, 74);
        position       : relative;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        animation      : 700ms fadeIn;
        border-radius: 15px;
        box-shadow: 0 0 10px black;
        border: 1px solid rgba(179, 179, 179, 0.301);
    }
    @media screen and (max-width: 800px){
        .appContainer{
            border-radius: 0;
            width: 100%;
            height: 100% !important;
        }
    }

    .everything-inside {
        width     : 100%;
        height    : calc(100% - 50px);
        background: rgb(197, 197, 197);
        margin-top: 50px;
        z-index   : 0;
        overflow-y: scroll;
    }


    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
        border-radius     : 10px !important;
        background-color  : #F5F5F5 !important;
    }

    ::-webkit-scrollbar {
        width           : 2px !important;
        background-color: #F5F5F5 !important;
    }

    ::-webkit-scrollbar-thumb {
        border-radius     : 10px !important;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;
        background-color  : rgb(255, 196, 0) !important;
    }

    .nav {
        position  : absolute;
        top       : 0;
        height    : 50px;
        width     : 100%;
        background: rgb(74, 73, 74);
        z-index   : 10000;
        box-shadow: 0 0 10px black;
        display   : flex;
    }

    .nav>div:nth-child(1) {
        width        : 40px;
        height       : 40px;
        border-radius: 50px;
        border       : 1px solid rgb(255, 196, 0);
        margin-top   : 5px;
        margin-left  : 10px;
        overflow     : hidden;

        img {
            height    : 100%;
            width     : 100%;
            transition: 200ms;
            object-fit: cover;
        }

        img:active {
            filter: brightness(50%)
        }
    }

    .nav>div:nth-child(2) {
        width: calc(100% - 100px);
        font-size: 20px;
        color: white;
        text-align: center;
        line-height: 50px;
    }
    .nav>div:nth-child(3) {
        width              : 60px;
        height             : 100%;
        // border-radius   : 50px;
        // border          : 1px solid rgb(255, 196, 0);
        // margin-top      : 10px;
        margin-left        : 10px;
        overflow           : hidden;
        color              : rgb(255, 196, 0);
        line-height        : 50px;
        font-size          : 10px;
        text-align         : center;
    }


    .item {
        width        : 100%;
        height       : 80px;
        background   : white;
        margin-bottom: 10px;
        position     : relative;
        border-radius: 5px;
        box-shadow   : 0 0 10px rgba(0, 0, 0, 0.404);
    }

    .detail {
        width     : 100%;
        height    : 100%;
        background: green;
        display   : flex;
    }

    .detail>div:nth-child(1) {
        width     : 80px;
        height    : 80px;
        background: white;
        padding   : 5px;
    }

    .detail>div:nth-child(2) {
        width             : calc(100% - 80px);
        height            : 80px;
        background        : white;
        padding           : 5px;
        position          : relative;
        // display        : flex;
        // flex-direction : column;
        // justify-content: center;
        // border         : 1px solid black;
    }

    #userImg {
        width        : 100%;
        height       : 100%;
        object-fit   : cover;
        border-radius: 5px;
    }

    #name {
        font-size  : 1em;
        font-weight: bold;
    }

    #position {
        font-size: 10px;
        color    : grey;
        position : absolute;
        right    : 5px;
        top      : -10px;
    }

    #education {
        font-size: 10px;
        color    : grey;
    }
}